<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>@ViewBag.Title</title>

    <!-- Fontfaces CSS-->
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            <!-- BREADCRUMB-->
            <section class="welcome2 p-t-40 p-b-55 mb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="welcome2-greeting">
                                <h1  class="text-white">
                                    Hərbi Kataloq
                                </h1>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="welcome2-inner m-t-60">
                                <div class="au-breadcrumb3">
                                    <div class="au-breadcrumb-left">
                                        <ul class="list-unstyled list-inline au-breadcrumb__list d-flex">
                                            <li>
                                                @if (ViewBag.PageName == "teyyareler")
                                                {
                                                    <a class="btn btn-primary mr-2" asp-controller="teyyareler" asp-action="index">Təyyarələr</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-secondary mr-2" asp-controller="teyyareler" asp-action="index">Təyyarələr</a>
                                                }
                                            </li>
                                            <li>
                                                @if (ViewBag.PageName == "tanklar")
                                                {
                                                    <a class="btn btn-primary" asp-controller="tanklar" asp-action="index">Tanklar</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-secondary" asp-controller="tanklar" asp-action="index">Tanklar</a>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                @if(ViewBag.PageName == "tanklar")
                                {
                                    <form class="form-header form-header2" asp-controller="Tanklar" asp-action="Axtar" method="get">
                                        <input class="au-input au-input--w100 mr-2" type="text" name="keyOfTank" placeholder="Açar">
                                        <input class="au-input au-input--w100 mr-2" type="text" name="valueOfTank" placeholder="Dəyər">
                                        <button class="au-btn--submit" type="submit">
                                            <i class="zmdi zmdi-search"></i>
                                        </button>
                                    </form>
                                }else if(ViewBag.PageName == "teyyareler")
                                {
                                    <form class="form-header form-header2" asp-controller="Teyyareler" asp-action="Axtar" method="get">
                                        <input class="au-input au-input--w100 mr-2" type="text" name="keyOfTeyyare" placeholder="Açar">
                                        <input class="au-input au-input--w100 mr-2" type="text" name="valueOfTeyyare" placeholder="Dəyər">
                                        <button class="au-btn--submit" type="submit">
                                            <i class="zmdi zmdi-search"></i>
                                        </button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->
            @RenderBody()
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="~/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/vendor/slick/slick.min.js">
    </script>
    <script src="~/vendor/wow/wow.min.js"></script>
    <script src="~/vendor/animsition/animsition.min.js"></script>
    <script src="~/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="~/js/main.js"></script>

</body>

</html>
<!-- end document-->
